<% layout('/layouts/boilerplate') -%>

<div class="row mt-3">
    <div class="alert alert-danger col-md-6 offset-md-3 col-0 offset-0" role="alert">
      <p class="alert-heading my-auto"><%= message %></p>
    </div>
</div>